body {
  font: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  min-width: 1226px;
}
* {
  margin: 0;
  padding: 0;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #ff6700;
  text-decoration: none;
}
.site-topbar {
  position: relative;
  height: 40px;
  z-index: 30;
  font-size: 12px;
  color: #b0b0b0;
  background: #333;
}
.site-header {
  position: relative;
  z-index: 20;
  height: 100px;
}
.home-hero-container {
  position: relative;
  z-index: 10;
}
.home-hero-sub {
  position: relative;
  padding-top: 15px;
  height: 165px;
}
.home-star-goods {
  position: relative;
  padding-top: 15px;
  height: 380px;
}
.home-main {
  margin-top: 60px;
  background: #f5f5f5;
  padding-bottom: 20px;
}
.site-footer {
  padding: 10px 0;
}
.site-info {
  padding: 30px 0;
  font-size: 12px;
  background: #fafafa;
  height: 100px;
}
.container {
  width: 1226px;
  margin-right: auto;
  margin-left: auto;
}
/* site-topbar */
.site-topbar .topbar-nav {
  float: left;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  _zoom: 1;
  /*针对IE浏览器*/
}
.site-topbar .topbar-cart {
  width: 120px;
  margin-left: 15px;
  position: relative;
  z-index: 40;
  background: #333;
  float: right;
}
.site-topbar .topbar-info {
  line-height: 40px;
  position: relative;
  float: right;
}
.site-topbar a {
  color: #b0b0b0;
}
.site-topbar a:hover {
  color: #fff;
}
/* site-topbar */
/* topbar-nav */
.site-topbar .sep {
  margin: 0 .5em;
  color: #424242;
  font-family: sans-serif;
}
/* site-topbar */
/* topbar-cart */
.site-topbar .cart-mini {
  position: relative;
  z-index: 32;
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #b0b0b0;
  background: #424242;
}
.site-topbar .cart-mini i {
  margin-right: 4px;
  font-size: 20px;
  line-height: 20px;
  vertical-align: -10px;
}
.site-topbar .cart-menu {
  display: none;
  position: absolute;
  right: 0px;
  height: 98px;
  background-color: #FFF;
  z-index: 20;
}
.site-topbar .cart-menu .loading {
  width: 340px;
  color: #000;
  position: relative;
  text-align: center;
  padding: 20px 0;
  overflow: visible;
}
/* site-topbar */
/* topbar-info */
.site-topbar .topbar-info .link {
  padding: 0 5px;
  text-align: center;
}
.site-topbar .topbar-info .message {
  padding: 0 10px;
}
.nav {
  width: 100%;
  height: 900px;
  background-color: #8AADC3;
  margin: 0 auto;
}
.nav .content {
  width: 100%;
  height: 900px;
  margin: 0 auto;
}
.nav .content .zhu {
  width: 100%;
  height: 900px;
  margin: 0 auto;
}
.nav .content .Mi {
  position: absolute;
  left: 70px;
  top: 100px;
}
.nav .content .zi {
  position: absolute;
  left: 550px;
  top: 300px;
}
.nav .content .zi .no1 {
  font-size: 35px;
  color: white;
  margin-left: 40px;
}
.nav .content .zi .no2 {
  font-size: 35px;
  color: white;
  margin-left: -105px;
  margin-top: 20px;
}
.nav .content .down {
  position: absolute;
  width: 355px;
  height: 142px;
  left: 510px;
  top: 450px;
}
.nav .content .down ul {
  list-style: none;
}
.nav .content .down ul li:hover {
  cursor: pointer;
}
.nav .content .down ul li {
  width: 170px;
  height: 40px;
  border: 1px solid white;
  background-color: white;
  border-radius: 5px;
  float: left;
  mask-type: 10px;
  margin-left: 5px;
  line-height: 40px;
  margin-top: 10px;
}
.nav .content .down ul li img {
  float: left;
}
.nav .content .down ul li span {
  float: left;
}
.nav .content .down ul .n2 {
  margin-top: 80px;
  margin-left: -170px;
}
.nav .content .down .erma {
  margin-left: 20px;
  margin-top: 10px;
}
.nav .content .down .erma:hover {
  cursor: pointer;
}
.footer {
  width: 1230px;
  height: 170px;
  margin: 0 auto;
}
.footer .foot {
  width: 860px;
  height: 70px;
  float: left;
  margin-top: 60px;
}
.footer .foot .top {
  width: 780px;
  height: 15px;
  font-size: 12px;
  list-style: none;
  margin-left: 70px;
  margin-top: -55px;
  color: #757575;
}
.footer .foot .top li {
  float: left;
}
.footer .foot .top li a {
  margin-left: 5px;
}
.footer .foot .top li .se {
  color: gray;
  margin-left: 5px;
}
.footer .foot .tobbom {
  width: 780px;
  height: 15px;
  font-size: 12px;
  list-style: none;
  margin-left: 70px;
  margin-top: -55px;
  color: #B0B0B0;
}
.footer .foot .tobbom li {
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}
.footer .foot .bot {
  width: 780px;
  height: 15px;
  font-size: 12px;
  list-style: none;
  margin-left: 70px;
  color: #B0B0B0;
  margin-top: -55px;
}
.footer .foot .bot li {
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}
.footer .right {
  width: 372px;
  height: 40px;
  float: right;
  margin-top: -60px;
}
.footer .right img {
  width: 85px;
  height: 30px;
  float: left;
  margin-left: 5px;
}
.footer .xia {
  float: left;
  margin-left: 450px;
  margin-top: 15px;
}
